*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
key.properties
aozora.jks
app/aozora.jks
key.properties
.idea/
*.iws
*.ipr
.vscode
INSTRUCTIONS.md
.artifacts/
autd_reference/
flutter_reference/
app/src/main/rust/xaozora_daemon/target